services:
  postgres:
    image: postgres:13
    container_name: bot_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5434"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: